/dist/
/.stack-work/
/.cabal-sandbox/
/cabal.project.local
/.ghc.environment.*
.ghci
.ghci-tmp/
/.vs/
/.idea/
/.vscode/
*.hi
*.o
*.eventlog
.tmp/
*.swp
/node_modules/
/tmp/
/scripts/demo/__pycache__/

dist-newstyle/
